<p>Extract the Point of Interest (POI) Names and Street Names, submission file format should be ‘csv’ file only.</p>
<p>Your submission should have 50,000 rows, each with 2 columns.</p>

<table>
    <tr>
      <th>id</th>
      <th>POI/street</th>
    </tr>
    <tr>
      <td>0</td>
      <td>/</td>
    </tr>
    <tr>
        <td>1</td>
        <td>pt tunas artha gardatama/lenteng agung barat</td>
      </tr>
      <tr>
        <td>2</td>
        <td>/lenteng agung barat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>muh sigit wahyu p dr sp kj/jalan adi sucipto</td>
      </tr>
      <tr>
        <td>4</td>
        <td>senam melinda/</td>
      </tr>
  </table>

<p>Train data menggunakan data submisi <a href="https://www.kaggle.com/code/baohiep/1-place-scl-ds-2021-voidandtwotsts/notebook">#1 Place pada kompetisi Shopee Code League - Address Elements Extraction</a></p>